<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <h1>Created by {{creator}}</h1>
        <img src="/images/lion3.jpg" alt="Lion">
        <h2>{{title}}</h2>
    </body>
</html>