<!DOCTYPE html>
<html>

<head>
    <title>A page</title>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <form>
        <input type="text" id="cityName">
        <button id="btnWeather">Get Weather</button>
    </form>
    <p id="weather"></p>
    <script src="/js/client.js"></script>
</body>

</html>